:root {
    --battleship-board-width: 40vw;
}

.btls-base {
    border: 1px solid black;
}

.btls-board-area {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    border: 1px solid black;
}

.btls-board-one,
.btls-board-two {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    width: 20rem;
    height: 20rem;
    padding: 0.5rem;
    gap: 0.12rem;
}

.btls-axis-1-x,
.btls-axis-1-y,
.btls-axis-2-x,
.btls-axis-2-y {
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: center;
    padding: 0.5rem;
}

.btls-board-one {
    grid-area: -3 / -2 / -2 / -1;
}
.btls-axis-1-x {
    grid-area: -2 / -2 / -1 / -1;
}
.btls-axis-1-y {
    grid-area: -3 / 1 / -2 / 2;
    flex-direction: column;
}
.btls-board-two {
    grid-area: 2 / -2 / 3 / -1;
}
.btls-axis-2-x {
    grid-area: 1 / -2 / 2 / -1;
}
.btls-axis-2-y {
    grid-area: 2 / 1 / 3 / 2;
    flex-direction: column;
}

.btls-cell {
    border: 1px solid black;
}
.btls-cell:hover {
    background-color: #ececec;
}
.btls-cell:active {
    background-color: #e2e2e2;
}

.btls-cell .empty {
    background-color: rgb(255, 255, 255);
}
.btls-cell .ship {
    background-color: rgb(50, 171, 187);
}
.btls-cell.hit {
    background-color: rgb(184, 112, 112);
}